* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

/*  */




/* CART START*/
.quantity {
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -17px;
  left: 49%;
  padding: 3px 10px;
}

.quantity.button:hover {
  top: 4px;
  left: 88%;
  padding: 3px 10px;
}


.addcart-list {
  list-style: none;
  padding: 0;
}

.addcart-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.clear-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clear-btn:hover {
  background-color: red;
}


.cart-card .app-body {
  max-height: 300px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.cart-item span {
  flex: 1;
}

/*    */

.cart-card {
  position: absolute;
  top: 0;
  left: 30%;
  width: 500px;
  background-color: whitesmoke;
  height: 400px;
  transition: 0.5s;
  margin-top: 62px;
  margin-left: 214px;
}

.active .cart-card {
  left: calc(100% - 655px);
}

.active .container {
  transform: translateX(-200px);
}

.cart-card h1 {
  color: #ff5733;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

.cart-card .closeShopping {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeShopping .cartXmark {
  padding: 4px 8px;
  border-radius: 22px;
  background-color: #ff5733;

}

.cart-card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.cart-card .checkOut div {
  background-color: #ff5733;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.cart-card .checkOut div:nth-child(2) {
  background-color: #1C1F25;
  color: #fff;
}

/* CART END  */


/*   */


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: ;
  border: 2px solid #007bff;
  border-radius: 50%;
  font-size: 24px;
  line-height: 36px;
  color: #007bff;
}





.carousel-indicators .active {
  background-color: #007bff;
}

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.car-img-margin {
  margin-top: 117px;
}


/* - Header Style   */
.header-top {
  padding: 15px 0;
  color: #fff;
  line-height: 14px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.container img {
  width: 70px;
  height: auto;
}

.navbar-collapse.collapse {
  display: inline-block;
  padding-left: 0;
  font-weight: 700;
}

.navbar-collapse>ul {
  float: none !important;
  margin-bottom: -7px;
  text-align: left;
}

.header-middle-right {
  padding-left: 30px;
  border-left: 1px solid #3c3c4a;
}

.position-r {
  position: relative;
}

.mobilemenu-content .navbar-nav li:last-child {
  position: relative;
}

.mobilemenu-content .navbar-nav li {
  display: block;
}

.mobilemenu-content li:hover a {
  color: #ffe400;
}

.mobilemenu-content .megamenu {
  top: 100%;
  right: 0;
}

/* Style the phone number and social media icons */
.phone,
.social-media a {
  color: #fff;
  font-size: 14px;
}

.wrap {
  background-color: #000;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 40px;
  color: #fff;
  background-color: #4d4d4d;
  transition: background-color 0.3s, transform 0.3s;
}


.social-media a:hover {
  background-color: #f1bc31;
  transform: scale(1.1);
  transition: background-color 0.3s, transform 0.3s;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin-right: 8px;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.searchform .search {
  margin-right: 10px;
}

.form-control.search:hover {
  background-color: #ffe400;
  color: #fff;
  transform: scale(1.1);
  transition: background-color 0.3s, transform 0.3s;
}

.fa-solid.fa-heart:hover {
  color: red;
}

.fa-solid.fa-cart-shopping:hover {
  color: green;
}

.fa-regular.fa-user:hover {
  color: blue;
}


.headfixing {
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 1000;
}

.navbar {
  background-color: white !important;
  box-shadow: #3c3c4a;
  width: 100%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  ;

}

/* Style for the navbar links */
.navbar-nav .nav-link {}

.navbar-nav .dropdown-menu a {
  color: black !important;
  font-weight: 700;
  text-align: center;
}

.navbar-nav .nav-item.active .nav-link {
  color: #ff5733 !important;
}

.navbar ul {
  font-size: large;
  margin-right: 10px;
  text: black;
}

.navbar li a {
  padding: 20px 0;
  position: relative;
  z-index: 1;
  color: #000;
}

.navbar li a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 60px;
  background-color: #f1bc31;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
}

.navbar li a:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-item.dropdown {
  position: relative;
}

.dropdown-menu {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  min-width: 110px;
}

.dropdown-menu a {
  display: block;
  color: #333;
  padding: 8px 20px;
  text-decoration: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.svg-inline--fa.fa-chevron-down {
  width: 16px;
  height: 16px;
}


/*carasol start  */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.carousel-inner .carimg {
  position: relative;
  width: 90%;
  height: 400px;
  overflow: hidden;

}

.carousel-caption h1 {
  color: black;
}

.carousel-caption p {
  color: black;
}

.carousel-caption .cus2 {
  text-align: left;
}

.carousel-caption .cus3 {
  text-align: right;
}

/* collection section start*/
.Collection-section {
  display: block;
}

.collection-title {
  position: relative;
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
}

.title_text h3 {
  color: #ccc;
  font-size: 24px;
  margin-bottom: -2px;
}

.collection-title .title_text {
  background-color: #000;
  display: inline-block;
  padding: 5px 34px;
  clip-path: polygon(0 24%, 80% 25%, 107% 130%, 0% 169%);
  margin-left: 42px;
  padding-left: 0;
}

.home-header-line {
  border-bottom: 2px solid #000;
  margin: 15px auto;
  margin-top: 0;
  width: 94.4%;
}

.product-container {
  padding: 0 13vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 50px;

}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;

}

.product-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #efefef;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: capitalize;
  font-size: 24px;
}

.product-short-des {
  width: 100%;
  height: 50px;
  line-height: 17px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 0 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.product-card {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.product-card:last-child {
  border-right: none;
}

/*collection section end*/



/*Footer section start*/
.hidden {
  display: none;
}

.footer-gray {
  background-color: #EFEFEF;
  width: 100%;
}

.footer-custom {
  color: #888;
  font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1008px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
}

.footer-custom:after {
  display: table;
  clear: both;
  content: "";
}

.footer-lists:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-hdr {
  color: #000;
  font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
  margin: 1em 0 0;
}

@media only screen and (min-width: 768px) {
  .ftr-hdr {
    font-size: 18px;
  }
}

.footer-list-wrap {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-width: 568px) {
  .footer-list-wrap {
    width: 33.3333%;
  }
}

@media only screen and (min-width: 768px) {
  .footer-list-wrap {
    width: 25%;
  }
}

.ftr-links-sub {
  padding: 0;
  margin: 0;
}

.ftr-links-sub:after {
  display: table;
  clear: both;
  content: "";
}

.ftr-links-sub li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 3px 0;
  color: #888;
  font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  /*width: 150px;*/
}

.footer-custom a,
.footer-custom a:link,
.footer-custom a:visited,
.ftr-links-sub li .link {
  text-decoration: none;
  color: #888;
  padding: 5px 0;
  display: block;
}

.footer-custom .footer-legal a {
  display: inline;
}

.footer-custom a:hover,
.footer-custom a:active,
.ftr-links-sub li .link:hover {
  text-decoration: underline;
  color: #888;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

  .footer-custom a,
  .footer-custom a:link,
  .footer-custom a:visited,
  .ftr-links-sub li .link {
    padding: 0;
  }
}

.footer-email {
  text-align: center;
}

#ftrEmailForm {
  height: 44px;
}

#ftrEmailForm .error {
  display: none;
  color: red;
  text-align: left;
}

#ftrEmailForm #ftrEmailInput {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  color: #888;
  float: left;
  font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 5px;
  width: 70%;
  height: 100%;
}

#ftrEmailForm #ftrEmailInput:hover {
  border: 1px solid #888;
}

#ftrEmailForm #ftrEmailInput:focus {
  border: 1px solid #ef9223;
  outline: #ef9223 auto 5px;
}

#ftrEmailForm .button {
  width: 30%;
  height: 100%;
  padding: 5px;
  float: left;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  color: #000;
  font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #FFF;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
  background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
  background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
  cursor: pointer;
  vertical-align: middle;
  outline: none;
}

#ftrEmailForm .button:hover,
#ftrEmailForm .button:active {
  background: black;
  color: #FFF;
  outline: none;
}

/* BEGIN SOCIAL STYLES*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-social ul:after {
  display: table;
  clear: both;
  content: "";
}

.footer-social li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .footer-lists {
    width: 100%;
  }

  .footer-email {
    width: 50%;
    float: left;
    text-align: left;
  }

  .footer-social {
    width: 45%;
    margin-left: 5%;
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-lists {
    width: 66.6666%;
    float: left;
  }

  .footer-email {
    width: 33.3333%;
  }

  .footer-social {
    width: 33.3333%;
    float: right;
    margin-left: 0;
  }
}

.footer-legal {
  padding: 15px 0 0;
  clear: left;
}

.footer-payment {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-legal {
    width: 66.6666%;
    float: left;
  }

  .footer-payment {
    width: 33.3333%;
    float: left;
  }
}

@media only screen and (min-width: 1008px) {
  .footer-payment {
    text-align: left;
  }
}

.footer-payment ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

.footer-payment ul li {
  display: inline-block;
  margin: 0 6px;
}

@media only screen and (min-width: 1008px) {
  .footer-payment ul li.ftr-stella {
    margin-left: 0;
  }
}

.ftr-bbb span,
.ftr-stella span {
  background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0;
}

.ftr-bbb span {
  background-position: -339px -8px;
  width: 96px;
}

.ftr-stella span {
  background-position: -339px -107px;
  width: 57px;
}


/* Style the payment section */
.payment-section img {
  height: 30px;
  width: 50px;
}

.payment-section {
  max-width: 300px;
  margin: 0 auto;
}

.payment-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.payment-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-left: -100px;
}

.payment-section ul li {
  margin: 0 10px;
}

.payment-section img {
  max-width: 60px;
  height: auto;
}